body {
  display: flex;
  justify-content: center;
}
header {
  display: flex;
  justify-content: center;
}

.container {
  width: 500px;
  height: 600px;
  border: 2px solid black;
}
.nag-bar {
  height: 100px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.all,
.breakfast,
.lunch,
.shakes,
.dinner {
  width: auto;
  height: 40px;
  background-color: rgb(200, 133, 46);
}
.img2 {
  width: 5px;
  height: 52px;
}
