/* TP04.1.Child element positioning*/
.TP04-1 {
  display: flex;
  justify-content: space-between;
  border: 3px solid rgb(6, 0, 176);
}
.box-border {
  width: 600px;
  height: 600px;
  border: 3px solid black;
  margin: 50px 50px 50px 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}
/* case 1 */
.box1-1,
.box1-2,
.box1-3,
.box1-4 {
  width: 200px;
  height: 200px;
  background-color: rgb(202, 202, 202);
}
.box1-child {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 5px 5px 5px;
  font-size: 12px;
  color: white;
  background-color: rgb(241, 114, 67);
}
.grid1x4-box1-1,
.grid1x4-box1-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-block: 50px;
}
.box1-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box1-3 {
  display: flex;
  align-items: end;
}
.box1-4 {
  display: flex;
  justify-content: end;
  align-items: center;
}
/* End of case 1 */

/* case 2 */
.box2-1,
.box2-2,
.box2-3,
.box2-4 {
  width: 200px;
  height: 200px;
  background-color: rgb(202, 202, 202);
}

.box2-1 > div {
  position: relative;
  top: 0;
}
.box2-2 > div {
  position: relative;
  top: 70px;
  left: 70px;
}
.box2-3 > div {
  position: relative;
  top: 140px;
}
.box2-4 > div {
  position: relative;
  top: 70px;
  left: 140px;
}
/* End of case 2 */
/* End of TP04.1.Child element positioning */

/* --------------------------------------- */

/* TP04.2.Child element alignment */
.TP04-2 {
  display: flex;
  justify-content: space-between;
  border: 3px solid rgb(6, 0, 176);
  margin-top: 50px;
}
.box2-child {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 5px 5px 5px;
  font-size: 12px;
  color: white;
  background-color: rgb(241, 114, 67);
}
/* case 1 */
.box3-1,
.box3-2,
.box3-3,
.box3-4 {
  width: 200px;
  height: 200px;
  background-color: rgb(202, 202, 202);
}
.box3-1 {
  display: flex;
  justify-content: center;
}
.box3-1 > div {
  width: 190px;
  height: 50px;
}

.box3-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box3-2 > div {
  width: 190px;
  height: 50px;
}

.box3-3 {
  display: flex;
  justify-content: left;
}
.box3-3 > div {
  width: 50px;
  height: 190px;
}

.box3-4 {
  display: flex;
  justify-content: right;
}
.box3-4 > div {
  width: 50px;
  height: 190px;
}
/* End of case 1 */

/* case 2 */
.box4-1,
.box4-2,
.box4-3,
.box4-4 {
  width: 200px;
  height: 200px;
  background-color: rgb(202, 202, 202);
}
.box4-1 > div {
  position: relative;
  width: 190px;
  height: 50px;
  top: 0;
}
.box4-2 > div {
  position: relative;
  width: 190px;
  height: 50px;
  top: 70px;
}
.box4-3 > div {
  position: relative;
  width: 50px;
  height: 190px;
  top: 0;
}
.box4-4 > div {
  position: relative;
  width: 50px;
  height: 190px;
  left: 140px;
}
/* End of case 2 */

/* End of TP04.2.Child element alignment */

/* ------------------------------------------- */

/* TP04.3.Row and Column Layout*/
.TP04-3 {
  display: flex;
  justify-content: space-between;
  border: 3px solid rgb(6, 0, 176);
  margin-top: 50px;
}

.column-box {
  width: 50px;
  height: 50px;
  background-color: rgb(27, 107, 255);
  border: 2px solid black;
  margin: 5px 5px 5px 5px;
}

/* case 1 */
.box5-1,
.box5-2,
.box5-3,
.box5-4 {
  width: 200px;
  height: 200px;
  background-color: rgb(202, 202, 202);
}
.box5-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-column1x3-1-1 {
  width: 190px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 5px 5px 5px 5px;
  font-size: 12px;
  background-color: rgb(241, 114, 67);
}

.box5-2 {
  display: flex;
  justify-content: center;
  align-items: end;
}
.box-column1x3-1-2 {
  width: 190px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 5px 5px 5px 5px;
  font-size: 12px;
  background-color: rgb(241, 114, 67);
}

.box5-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-column1x3-1-3 {
  width: 60px;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px 5px 5px 5px;
  font-size: 12px;
  background-color: rgb(241, 114, 67);
}

.box5-4 {
  display: flex;
  justify-content: end;
  align-items: center;
}
.box-column1x3-1-4 {
  width: 60px;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px 5px 5px 5px;
  font-size: 12px;
  background-color: rgb(241, 114, 67);
}
.box5-3 > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* End of case 1 */

/* case 2 */
.box6-1,
.box6-2,
.box6-3,
.box6-4 {
  width: 200px;
  height: 200px;
  background-color: rgb(202, 202, 202);
}

.column-box1,
.column-box2,
.column-box3,
.column-box4,
.column-box5,
.column-box6,
.column-box7,
.column-box8,
.column-box9,
.column-box10,
.column-box11,
.column-box12 {
  width: 50px;
  height: 50px;
  background-color: rgb(27, 107, 255);
  border: 2px solid black;
}
.box-column1x3-2-1 {
  width: 190px;
  height: 60px;
  position: relative;
  top: 65px;
  margin: 5px 5px 5px 5px;
  font-size: 12px;
  background-color: rgb(241, 114, 67);
}
.column-box1 {
  position: relative;
  top: 3px;
  left: 5px;
}
.column-box2 {
  position: relative;
  left: 68px;
  top: -51px;
}
.column-box3 {
  position: relative;
  left: 130px;
  top: -105px;
}

.box-column1x3-2-2 {
  width: 190px;
  height: 60px;
  position: relative;
  top: 130px;
  margin: 5px 5px 5px 5px;
  font-size: 12px;
  background-color: rgb(241, 114, 67);
}

.column-box4 {
  position: relative;
  top: 3px;
  left: 5px;
}
.column-box5 {
  position: relative;
  left: 68px;
  top: -51px;
}
.column-box6 {
  position: relative;
  left: 130px;
  top: -105px;
}

.box-column1x3-2-3 {
  width: 60px;
  height: 190px;
  position: relative;
  left: 65px;
  margin: 5px 5px 5px 5px;
  font-size: 12px;
  background-color: rgb(241, 114, 67);
}
.column-box7 {
  position: relative;
  left: 3px;
  top: 5px;
}
.column-box8 {
  position: relative;
  left: 3px;
  top: 14px;
}
.column-box9 {
  position: relative;
  left: 3px;
  top: 22px;
}
.box-column1x3-2-4 {
  width: 60px;
  height: 190px;
  position: relative;
  left: 130px;
  margin: 5px 5px 5px 5px;
  font-size: 12px;
  background-color: rgb(241, 114, 67);
}
.column-box10 {
  position: relative;
  left: 3px;
  top: 5px;
}
.column-box11 {
  position: relative;
  left: 3px;
  top: 14px;
}
.column-box12 {
  position: relative;
  left: 3px;
  top: 22px;
}
/* End of case 2 */
/* End of TP04.3 */

/* TP04.4.Row and Column layout with flex directin */
.TP04-4 {
  display: flex;
  justify-content: center;
  border: 3px solid rgb(6, 0, 176);
  margin-top: 50px;
}
.grid1x2-1 {
  width: 600px;
  height: 600px;
  border: 3px solid black;
  margin: 50px 50px 50px 50px;
}
/* grid1x2-top */
.grid1x2-top {
  display: flex;
  justify-content: space-between;
}
/* box 1 */
.grid1x2-box1-1 {
  width: 200px;
  height: 200px;
  display: flex;
  margin-left: 50px;
  margin-top: 50px;
  background-color: rgb(202, 202, 202);
}
.box7-1 {
  width: 60px;
  height: 190px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 5px 5px 5px 5px;
  font-size: 12px;
  background-color: rgb(241, 114, 67);
}
.column-box13,
.column-box14,
.column-box15 {
  width: 50px;
  height: 50px;
  background-color: rgb(27, 107, 255);
  border: 2px solid black;
  margin: 5px 5px 5px 5px;
}
.box7-2 {
  width: 60px;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px 5px 5px 5px;
  font-size: 12px;
  background-color: rgb(241, 114, 67);
}
.box7-3 {
  width: 60px;
  height: 190px;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 5px 5px 5px 5px;
  font-size: 12px;
  background-color: rgb(241, 114, 67);
}
/* End of box 1 */

/* box 2 */
.grid1x2-box1-2 {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  margin-top: 50px;
  background-color: rgb(202, 202, 202);
}

.box8-1 {
  width: 190px;
  height: 60px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin: 5px 5px 5px 5px;
  font-size: 12px;
  background-color: rgb(241, 114, 67);
}
.column-box16,
.column-box17,
.column-box18 {
  width: 50px;
  height: 50px;
  background-color: rgb(27, 107, 255);
  border: 2px solid black;
  margin: 5px 5px 5px 5px;
}
.box8-2 {
  width: 190px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 5px 5px 5px 5px;
  font-size: 12px;
  background-color: rgb(241, 114, 67);
}
.box8-3 {
  width: 190px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: end;
  margin: 5px 5px 5px 5px;
  font-size: 12px;
  background-color: rgb(241, 114, 67);
}
/* End of box 2 */
/* End of grid1x2-top */

/* grid1x2-buttom */
.grid1x2-buttom {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* box 3 */
.grid1x2-box2-1 {
  width: 200px;
  height: 200px;
  display: flex;
  margin-top: 50px;
  background-color: rgb(202, 202, 202);
}
.grid-left {
  width: 140px;
  height: 190px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
.grid-left1 {
  width: 125px;
  height: 60px;
  margin-top: 5px;
  margin-left: 5px;
  background-color: rgb(241, 114, 67);
}
.grid-left2 {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-left: 5px;
}
.grid-left2-left-1x2-1 {
  width: 60px;
  height: 60px;
  margin-top: 5px;
  background-color: rgb(241, 114, 67);
}
.grid-left2-left-1x2-2 {
  width: 60px;
  height: 60px;
  margin-top: 5px;
  background-color: rgb(241, 114, 67);
}
.grid-left2-right {
  width: 60px;
  height: 125px;
  margin-top: 5px;
  margin-left: 5px;
  background-color: rgb(241, 114, 67);
}

.grid-right {
  width: 60px;
  height: 185px;
  display: flex;
  margin-top: 5px;
  margin-right: 5px;
  font-size: 12px;
  background-color: rgb(241, 114, 67);
}
.box9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.column-box19,
.column-box20 {
  width: 50px;
  height: 80px;
  margin-left: 2.5px;
  background-color: rgb(27, 107, 255);
  border: 2px solid black;
}
.column-box20 {
  margin-top: 5px;
}
/* End of box 3 */
/* End of grid1x2-buttom */

/* End of TP04.4 */

/* TP04.5.Absolute positioning */
.TP04-5 {
  display: flex;
  justify-content: center;
  border: 3px solid rgb(6, 0, 176);
  margin-top: 50px;
}
.box-border {
  width: 600px;
  height: 600px;
  border: 3px solid black;
  margin: 50px 50px 50px 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}
.box10-1,
.box10-2,
.box10-3,
.box10-4 {
  width: 200px;
  height: 200px;
  background-color: rgb(202, 202, 202);
}

.column-box21,
.column-box22,
.column-box23,
.column-box24,
.column-box25,
.column-box26,
.column-box27,
.column-box28,
.column-box29,
.column-box30,
.column-box31,
.column-box32 {
  width: 50px;
  height: 50px;
  background-color: rgb(27, 107, 255);
  border: 2px solid black;
}
.box-column1x3-3-1 {
  width: 190px;
  height: 60px;
  position: absolute;
  top: 3228px;
  margin: 5px 5px 5px 5px;
  font-size: 12px;
  background-color: rgb(241, 114, 67);
}
.column-box21 {
  position: absolute;
  top: 3px;
  left: 5px;
}
.column-box22 {
  position: absolute;
  left: 68px;
  top: 3px;
}
.column-box23 {
  position: absolute;
  left: 130px;
  top: 3px;
}
.box-column1x3-3-2 {
  width: 190px;
  height: 60px;
  position: absolute;
  top: 3585px;
  margin: 5px 5px 5px 5px;
  font-size: 12px;
  background-color: rgb(241, 114, 67);
}

.column-box24 {
  position: absolute;
  top: 3px;
  left: 5px;
}
.column-box25 {
  position: absolute;
  left: 68px;
  top: 3px;
}
.column-box26 {
  position: absolute;
  left: 130px;
  top: 3px;
}

.box-column1x3-3-3 {
  width: 60px;
  height: 190px;
  position: absolute;
  left: 810px;
  margin: 5px 5px 5px 5px;
  font-size: 12px;
  background-color: rgb(241, 114, 67);
}
.column-box27 {
  position: absolute;
  left: 3px;
  top: 5px;
}
.column-box28 {
  position: absolute;
  left: 3px;
  top: 67px;
}
.column-box29 {
  position: absolute;
  left: 3px;
  top: 130px;
}

.box-column1x3-3-4 {
  width: 60px;
  height: 190px;
  position: absolute;
  left: 810px;
  margin: 5px 5px 5px 5px;
  font-size: 12px;
  background-color: rgb(241, 114, 67);
}
.column-box30 {
  position: absolute;
  left: 3px;
  top: 5px;
}
.column-box31 {
  position: absolute;
  left: 3px;
  top: 67px;
}
.column-box32 {
  position: absolute;
  left: 3px;
  top: 130px;
}
/* End TP04.5.Absolute positioning */

/* TP04.6.Absolute positioning */
.TP04-6 {
  display: flex;
  justify-content: center;
  /* border: 3px solid rgb(6, 0, 176); */
  margin-top: 50px;
}
.box-border-TP04-6 {
  width: 600px;
  height: 600px;
  position: absolute;
  border: 3px solid black;
  margin: 50px 50px 50px 50px;
}
.box1-TP04-6,
.box2-TP04-6 {
  width: 200px;
  height: 200px;
  background-color: rgb(202, 202, 202);
}
.box1-TP04-6 {
  position: absolute;
  left: 100px;
  top: 50px;
}
.box2-TP04-6 {
  position: absolute;
  left: 300px;
  top: 300px;
}
.box1-inside,
.box2-inside {
  width: 120px;
  height: 120px;
  background-color: rgb(241, 114, 67);
}
.box1-inside {
  position: absolute;
  top: 40px;
  left: -60px;
}
.box2-inside {
  position: absolute;
  top: 140px;
  left: 40px;
}

/* End of TP04.6.Absolute positioning */

/* TP04.7. Absolute positioning */
.TP04-7 {
  display: flex;
  justify-content: center;
  border: 3px solid rgb(6, 0, 176);
  margin-top: 800px;
}
.grid1x2-7-1 {
  width: 600px;
  height: 600px;
  border: 3px solid black;
  margin: 50px 50px 50px 50px;
}
/* grid1x2-top */
.grid1x2-7-top {
  display: flex;
  justify-content: space-between;
}
/* box 1 */
.grid1x2-7-box1-1 {
  width: 200px;
  height: 200px;
  margin-left: 50px;
  margin-top: 50px;
  background-color: rgb(202, 202, 202);
}
.box1-top {
  width: 120px;
  height: 40px;
  background-color: orange;
  position: absolute;
  left: 500px;
  top: 4735px;
}
.box1-middle {
  width: 40px;
  height: 105px;
  background-color: orange;
  position: absolute;
  left: 540px;
  top: 4770px;
}
.box1-buttom {
  width: 120px;
  height: 40px;
  background-color: orange;
  position: absolute;
  left: 500px;
  top: 4875px;
}
/* End of box 1 */

/* box 2 */
.grid1x2-7-box1-2 {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  margin-top: 50px;
  background-color: rgb(202, 202, 202);
}
.box2-top {
  width: 120px;
  height: 40px;
  background-color: orange;
  position: absolute;
  left: 800px;
  top: 4735px;
}
.box2-buttom {
  width: 40px;
  height: 140px;
  background-color: orange;
  position: absolute;
  left: 840px;
  top: 4770px;
}
/* End of box 2 */
/* End of grid1x2-top */

/* grid1x2-buttom */
.grid1x2-7-buttom {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* box 3 */
.grid1x2-7-box2-1 {
  width: 200px;
  height: 200px;
  display: flex;
  margin-top: 50px;
  background-color: rgb(202, 202, 202);
}
.box3-top {
  width: 120px;
  height: 40px;
  background-color: orange;
  position: absolute;
  left: 650px;
  top: 4985px;
}
.box3-middle {
  width: 40px;
  height: 105px;
  background-color: orange;
  position: absolute;
  left: 650px;
  top: 5020px;
}
.box3-buttom {
  width: 120px;
  height: 40px;
  background-color: orange;
  position: absolute;
  left: 650px;
  top: 5120px;
}

/* End of box 3 */
/* End of grid1x2-buttom */

/* End of TP04.4 */
