.wrapper {
  max-width: 600px;
  max-height: 400px;
  background-color: aqua;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .small {
  display: none;
  width: 150px;
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 74, 111);
} */

@media screen and (width 300px) {
  .small {
    display: none;
    width: 150px;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 74, 111);
  }
}
