.wrapper {
  max-width: 600px;
  max-height: 400px;
}
.content {
  max-width: 600px;
  max-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.big {
  width: 200px;
  height: 60px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  color: white;
}

.small {
  display: none;
}

@media only screen and (max-width: 600px) {
  .small {
    width: 150px;
    height: 30px;
    font-size: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 74, 111);
  }
  .big {
    display: none;
  }
}
